 
  .body-4 {
    background-color: #eee;
    flex-direction: column;
    padding: 56px 102px;
    display: flex;
  }
  
  .text-block-17 {
    color: #36c540;
    margin-top: 30px;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 700;
  }
  
  .text-block-17.unsuccess {
    color: #ec0004;
  }
  
  .div-block-7 {
    outline-offset: -15px;
    background-color: #fff;
    outline: 3px solid #00b40c;
    flex-direction: column;
    align-self: center;
    align-items: center;
    padding: 48px 72px;
    display: flex;
    box-shadow: 0 2px 11px rgba(0, 0, 0, .2);
  }
  
  .div-block-7.unsuccess {
    outline-color: #ec0004;
  }
  
  .image-8 {
    width: 191px;
  }
  
  
  .button-9 {
    border-radius: 14px;
    margin-top: 50px;
    padding: 11px 56px;
    font-size: 16px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .2);
  }
  
  .button-9.unsuccess {
    border-radius: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
  }
  
  
  .link-2 {
    background-image: url('../../images/Back.png');
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    margin-top: 20px;
    padding-left: 30px;
    font-size: 16px;
  }
  