/* --- Sidebar Section --- */
.admin-sidebar {
    width: 270px;
    position: fixed;
    top: 50px;
    z-index: 98;
    left: 0;
    background: #373844;
    padding: 10px 2.5px;
    height: 950px;
}

.admin-container h2 {
    color: white;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.edit-btn,
.personal-btn,
.add-item, 
.category-btn,
.responses-btn,
.add-teacher {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 0px 5px 4px;
    background: #5D5B64;
    color: white;
    font-size: 1.25rem;
    border-radius: 10px;
    cursor: pointer;
}

.edit-btn:hover,
.personal-btn:hover,
.add-item:hover, 
.category-btn:hover,
.responses-btn:hover,
.add-teacher:hover {
    background: #85828F;
}

@media (max-width: 1000px){ 
    .personal-details,
    .edit-users,
    .add-post,
    .category,
    .responses {
        width: 70%;
        margin-left: 80px;
    }
    .edit-users,
    .responses {
        margin-left: 80px;
        width: 800px;
    }
    .add-container {
        display: block;
    }
    .right-add, 
    .left-add {
        width: 100%;
    }
    
    .category > form {
        display: block;
    }
    
    .personal-save {
        width: 80%;
        margin-left: 10%;
    }
    
    .admin-container h2 {
        display: none;
    }
    .admin-sidebar {
        width: 40px;
        text-align: center;
        top: 50px;
        padding-top: 30px;
    }
    .admin-sidebar-btn div {
        display: none;
    }
    
    .add-photo input {
        width: 50%;
        margin-left: 25%;
        height: 150px;
    }

}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 255,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 255,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-outlined {
    position: relative;
    top: -1px;
    margin-right: 10px;
    font-variation-settings:
    'FILL' 255,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}