body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.table-container {
    width: 100%;
}

.table-row {
    border: 1px solid #ccc;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    background: white;
}

.visible-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-name {
    flex-grow: 1;
}

.toggle-button,
.remove-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.additional-info {
    display: none;
    width: 100%;
    padding: 10px 0%;
    background-color: transparent;
    margin-top: 10px;
    font-size: 1.20rem;
    justify-content: space-between;
}

.teacher-input,
.teacher-area,
.teacher-button {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 1.20rem;
    width: 70%;
    margin-bottom: 15px;
    background: white;
    font-family: sans-serif;
    text-align: start;
}
.teacher-area {
    height: 75px;
    border: 1px solid black;
}
.teacher-button {
    width: 71%;
}

.teacher-info {
    width: 90%;
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
}

.additional-images {
    
}

.additional-images div {
    width: 150px;
    height: 200px;
    border: 1px solid black;
    margin: 5px;
}

/* CSS for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 600px;
}

.close {
    color: #888;
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

.modal-input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 1.20rem;
    width: 90%;
    margin-bottom: 20px;
}

.modal-section {
    display: flex;
    justify-content: space-between;
    
}

.left-section,
.right-section {
    width: 100%;
    display: flex;
    padding: 10px;
}

.modal-section section {
    border: 1px solid black;
    width: 100%;
}
.modal-section button {
    /*float: right;*/
    border: 1px solid black;
    padding: 5px 5px;
    width: 100%;
}

.add-subjects {
    background: rgb(26, 223, 26);
}
.remove-subjects {
    background: rgb(223, 26, 26);
}

button.save-changes {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button.save-changes:hover {
    background-color: #0056b3;
}

@media (max-width: 780px) {
    main {
        padding: 20px 10%;
        margin-left: 5%;
    }
    
    .modal-content {
        width: 60%;
    }
    .modal-section {
        display: block;
    }
    .modal-section button {
        width: 75px;
        margin-left: 10px;
    }
    .teacher-input-search {
        width: 60%;
    }
}

@media (max-width: 550px) {
    .additional-info{
        display: block;
    }
}

/* Responsive design - stack rows on smaller screens */
@media (max-width: 768px) {
    .visible-wrapper {
        flex-direction: column;
        text-align: left;
    }
}