/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}*/

main {
    max-width: 90%; /* Set the table width to 90% of the page */
    margin: 0 auto;
    padding: 20px;
    overflow-x: auto; /* Allow horizontal scrolling for smaller screens */
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 8px; /* Add spacing between rows */
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    background: white;
}

thead th {
    background-color: #f2f2f2;
}

.actions {
    text-align: center;
}

.view-button, .choose-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.view-button:hover, .choose-button:hover {
    background-color: #0056b3;
}

.file_name {
    border: none;
    outline: none;
}

/* Responsive design - rows wrap to new lines on smaller screens */
@media (max-width: 768px) {
    table {
        width: 100%; /* Full width on smaller screens */
    }
    
    tr {
        display: block;
        margin-bottom: 15px;
    }

    td {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
    }
}
